doctrine:
  dbal:
    url: '%env(resolve:DATABASE_URL)%'
    charset: utf8mb4
    default_table_options:
      charset: utf8mb4
      collate:  utf8mb4_unicode_ci
    server_version: '8.0.34'
    schema_filter: "~^(doctrine_migration)$~"
    types:
      array: App\Infrastructure\Persistence\Doctrine\DBAL\Types\ArrayType
  orm:
    entity_managers:
      default:
        mappings:
          App\Domain\ApiUser:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/ApiUser/Entity'
            prefix: App\Domain\ApiUser\Entity
          App\Domain\ApiUserRule:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/ApiUserRule/Entity'
            prefix: App\Domain\ApiUserRule\Entity
          App\Domain\Article:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/Article/Entity'
            prefix: App\Domain\Article\Entity
          App\Domain\ArticleCategory:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/ArticleCategory/Entity'
            prefix: App\Domain\ArticleCategory\Entity
          App\Domain\Comment:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/Comment/Entity'
            prefix: App\Domain\Comment\Entity
          App\Domain\Conversation:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/Conversation/Entity'
            prefix: App\Domain\Conversation\Entity
          App\Domain\ConversationMessage:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/ConversationMessage/Entity'
            prefix: App\Domain\ConversationMessage\Entity
          App\Domain\ConversationMessageStatus:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/ConversationMessageStatus/Entity'
            prefix: App\Domain\ConversationMessageStatus\Entity
          App\Domain\ConversationMessageStatusType:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/ConversationMessageStatusType/Entity'
            prefix: App\Domain\ConversationMessageStatusType\Entity
          App\Domain\ConversationParticipant:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/ConversationParticipant/Entity'
            prefix: App\Domain\ConversationParticipant\Entity
          App\Domain\ConversationType:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/ConversationType/Entity'
            prefix: App\Domain\ConversationType\Entity
          App\Domain\EmailNotification:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/EmailNotification/Entity'
            prefix: App\Domain\EmailNotification\Entity
          App\Domain\Event:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/Event/Entity'
            prefix: App\Domain\Event\Entity
          App\Domain\EventAddress:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/EventAddress/Entity'
            prefix: App\Domain\EventAddress\Entity
          App\Domain\EventParticipant:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/EventParticipant/Entity'
            prefix: App\Domain\EventParticipant\Entity
          App\Domain\EventSchedule:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/EventSchedule/Entity'
            prefix: App\Domain\EventSchedule\Entity
          App\Domain\EventScheduleTemplate:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/EventScheduleTemplate/Entity'
            prefix: App\Domain\EventScheduleTemplate\Entity
          App\Domain\EventType:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/EventType/Entity'
            prefix: App\Domain\EventType\Entity
          App\Domain\Media:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/Media/Entity'
            prefix: App\Domain\Media\Entity
          App\Domain\MediaCategory:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/MediaCategory/Entity'
            prefix: App\Domain\MediaCategory\Entity
          App\Domain\MediaMimeType:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/MediaMimeType/Entity'
            prefix: App\Domain\MediaMimeType\Entity
          App\Domain\MediaType:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/MediaType/Entity'
            prefix: App\Domain\MediaType\Entity
          App\Domain\ResetPassword:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/ResetPassword/Entity'
            prefix: App\Domain\ResetPassword\Entity
          App\Domain\SystemEvent:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/SystemEvent/Entity'
            prefix: App\Domain\SystemEvent\Entity
          App\Domain\SystemEventRecipient:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/SystemEventRecipient/Entity'
            prefix: App\Domain\SystemEventRecipient\Entity
          App\Domain\SystemEventType:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/SystemEventType/Entity'
            prefix: App\Domain\SystemEventType\Entity
          App\Domain\Task:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/Task/Entity'
            prefix: App\Domain\Task\Entity
          App\Domain\User:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/User/Entity'
            prefix: App\Domain\User\Entity
          App\Domain\UserGroup:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/UserGroup/Entity'
            prefix: App\Domain\UserGroup\Entity
          App\Domain\Work:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/Work/Entity'
            prefix: App\Domain\Work\Entity
          App\Domain\WorkCategory:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/WorkCategory/Entity'
            prefix: App\Domain\WorkCategory\Entity
          App\Domain\WorkStatus:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/WorkStatus/Entity'
            prefix: App\Domain\WorkStatus\Entity
          App\Domain\WorkType:
            is_bundle: false
            type: attribute
            dir: '%kernel.project_dir%/src/Domain/WorkType/Entity'
            prefix: App\Domain\WorkType\Entity

          Danilovl\TranslatorBundle:
            is_bundle: false
            type: attribute
            dir: "%kernel.project_dir%/vendor/danilovl/translator-bundle/src/Entity/"
            prefix: 'Danilovl\TranslatorBundle\Entity'

          loggable:
            type: attribute
            alias: Gedmo
            prefix: Gedmo\Loggable\Entity
            dir: "%kernel.project_dir%/vendor/gedmo/doctrine-extensions/src/Loggable/Entity/"
            is_bundle: false
        result_cache_driver:
          type: service
          id: doctrine.redis_adapter
        query_cache_driver:
          type: service
          id: doctrine.redis_adapter

        second_level_cache:
          enabled: true
          region_cache_driver:
            type: service
            id: doctrine.redis_adapter
          regions:
            default:
              lock_lifetime: 10
              lifetime: 10
              cache_driver:
                type: service
                id: doctrine.redis_adapter
            cache_long_time:
              lock_lifetime: 60
              lifetime: 86400  # 1 day
              cache_driver:
                type: service
                id: doctrine.redis_adapter
