**/.git/
**/.gitignore
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/public/bundles
**/public/build
**/public/upload
**/var
**/vendor
**/node_modules
