**/.github/
**/.git/
**/.gitignore

**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
/docker-data

**/cypress
**/public/build
**/public/bundles
**/public/upload
**/public/minio
**/var
**/vendor
**/node_modules
/.env.local
/.env.test.local
