.idea
docker-data/

.phpunit
.phpunit.result.cache
.phpunit.cache/
/phpunit.xml
/coverage-report

/node_modules/
npm-debug.log
yarn-error.log

/public/build/
/public/bundles/
/public/upload*
/public/minio/

/cypress/videos/
/cypress/screenshots/

!/.env.local
/.env.*.local

/var/
/vendor/
