.idea

docker-data/*
!docker-data/elasticsearch/
!docker-data/elasticsearch/**
docker-data/elasticsearch/data/*
!docker-data/elasticsearch/data/node.lock
!docker-data/elasticsearch/data/nodes
docker-data/mysql/

.phpunit
.phpunit.result.cache
.phpunit.cache/
/phpunit.xml
/coverage-report

/node_modules/
npm-debug.log
yarn-error.log

/public/build/
/public/bundles/
/public/upload*
/public/minio/

/cypress/videos/
/cypress/screenshots/

!/.env.local
/.env.*.local

/var/
/vendor/

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
