includes:
    - phpstan-baseline.neon

parameters:
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
        consoleApplicationLoader: bin/phpstan/console-loader.php
    doctrine:
        objectManagerLoader: bin/phpstan/doctrine-orm-bootstrap.php

    level: 9
    paths:
        - src
        - tests
    excludePaths:
        - src/Infrastructure/Persistence/Doctrine/DBAL
        - src/Infrastructure/OpenTelemetry
        - tests/bootstrap.php
        - tests/Mock
        - src/Infrastructure/GraphQL/Resolver/NotDoctrineResolverMap.php
        - src/Domain/User/GraphQL/Resolver/UserResolverMap.php
        - src/Domain/Work/GraphQL/Resolver/WorkResolverMap.php
        - src/Domain/Task/GraphQL/Resolver/TaskResolverMap.php
    ignoreErrors:
       -
           identifier: missingType.iterableValue
       -
           identifier: missingType.generics
       -
           identifier: varTag.nativeType
       -
           identifier: staticMethod.alreadyNarrowedType
       -
           identifier: new.static
