<b>{{ user }}</b>
Vám poslal novou
<a class="titleToolTip blue"
   target="_blank"
   title=""
   href="{{ (path('conversation_detail', { 'id': conversation.id | hashids_encode })) }}">
    zprávu
</a>
