<b>{{ user }}</b> zaktualizoval údaje verzi "{{ version }}" u
<a class="titleToolTip blue"
   target="_blank"
   href="{{ (path('work_detail', { 'id': work.id | hashids_encode })) }}">
    práci
</a>
