{{ systemEventRecipient.systemEvent.owner }} zařadil opět Vaši
<a class="titleToolTip blue"
   target="_blank"
   href="{{ (path('work_detail', { 'id': work.id | hashids_encode })) }}">
    práci
</a>
mezi aktivní
