{% block content %}
    <body>
    <div>
        Dobrý den,
        <br><br>
        {{ mediaOwner }} přidal nový
        <a href="{{ absolute_url(path('document_list', {'_locale': default_locale})) }}">informační materiál</a> - "{{ mediaName }}".
        <br><br>
        S pozdravem
        <br><br>
        Systém pro vedení bakalářských a diplomových prací
    </div>
    </body>
{% endblock %}
