{% block content %}
	<body>
	<div>
		<h1>Dobrý den</h1>
		<p>
			To reset your password, please visit
			<a href="{{ url('reset_password_reset', {token: resetPassword.hashedToken | url_encode}) }}">here</a>
			This link will expire in {{ tokenLifetime | date('g') }} hour(s)..
		</p>
		<br><br>
		S pozdravem
		<br><br>
		Systém pro vedení bakalářských a diplomových prací
	</div>
	</body>
{% endblock %}
