{% block content %}
    <body>
    <div>
        Dobrý den,
        <br><br>
        {{ task.owner }} označil úkol "{{ task }}" za nesplněný u Vaší
        <a href="{{ absolute_url(path('work_detail', {'_locale': default_locale, 'id': work.id | hashids_encode })) }}"> práce.</a>
        <br><br>
        S pozdravem
        <br><br>
        Systém pro vedení bakalářských a diplomových prací
    </div>
    </body>
{% endblock %}
