{% from 'other/macro/menu.html.twig' import renderMenu %}

<li class="">
    <a href="javascript:"
       class="user-profile dropdown-toggle"
       data-toggle="dropdown"
       aria-expanded="false">
        <img src="{{ app_user() | profile_image }}" alt="profile image">
        {{ app_user() }}
        <span class=" fa fa-angle-down"></span>
    </a>
    {% if menu is defined and menu is not empty %}
        {{ renderMenu(menu, 'dropdown-menu dropdown-usermenu pull-right') }}
    {% endif %}
</li>
