{% spaceless %}
    <div class="select2-image__autocomplete autocomplete-image-preview">
        <div class="select2-image__autocomplete_left">
        </div>
        <div class="select2-image__autocomplete_right">
            <h2>{{ entity.name }}</h2>
            <p>{{ entity.description }}</p>
            <p><small>{{ entity.mimeType }}</small></p>
        </div>
    </div>
{% endspaceless %}