<div class="col-md-3 menu_fixed left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="{{ path('homepage') }}" class="site_title">
                <i class="fa fa-book"></i>
                <span>FinalWork System</span>
            </a>
        </div>
        <div class="clearfix"></div>
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="{{ app_user() | profile_image }}"
                     alt="profile image"
                     class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2>
                    {{ app_user() }}
                </h2>
            </div>
        </div>
        <br/>
        {{ widget('menu', {menu: 'main'}) }}
    </div>
</div>
