<div class="top_nav">
	<div class="nav_menu">
		<nav>
			<div class="nav toggle">
				<a id="menu_toggle">
					<i class="fa fa-bars"></i>
				</a>
			</div>
			<div class="navbar-nav-right">
				<ul id="widget-navbar" class="nav navbar-nav navbar-right">
					{{ widget_group('top_nav',{
						menu: {menu: 'profile'}
					}) }}
				</ul>
			</div>
		</nav>
	</div>
</div>