<li id="top-nav-locales" class="dropdown">
    <a href="javascript:"
       class="dropdown-toggle info-number"
       data-toggle="dropdown"
       aria-expanded="false">
        <i class="fa fa-globe"></i>
        <span class="caret"></span>
        <span class="sr-only">
            {{ 'app.menu.choose_language' | trans }}
        </span>
    </a>
    <ul class="dropdown-menu dropdown-usermenu" role="menu">
        {% for locale in locales() %}
            <li
                    {% if app.request.locale == locale.code %}
                        aria-checked="true" class="active"
                    {% else %}
                        aria-checked="false"
                    {% endif %} role="menuitem"
            >
                <a href="{{ path(app.request.attributes.get('_route', 'homepage'), app.request.attributes.get('_route_params', []) | merge({ _locale: locale.code })) }}">
                    {{ locale.name | capitalize }}
                </a>
            </li>
        {% endfor %}
    </ul>
</li>
