{% block content %}
    <body>
    <div>
        Dobrý den,
        <br><br>
        {{ commentOwner }} přidal komentář ke
        <a href="{{ url('event_detail', {'_locale': default_locale, 'id': eventId | hashids_encode }) }}">schůzce</a>
        s Vámi.
        <br><br>
        S pozdravem
        <br><br>
        Systém pro vedení bakalářských a diplomových prací
    </div>
    </body>
{% endblock %}
