{% extends '../../plain.html.twig' %}

{% block content %}
	<div class="main_container">
		<div class="col-md-12">
			<div class="col-middle">
				<div class="text-center text-center">
					<h2>{{ 'app.text.are_you_sure_want_to_leave' | trans }}</h2>
					<p>{{ 'app.text.link_outside_web' | trans }}</p>
					<p>
						<a href="{{ url }}">{{ url }}</a>
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
