services:
  _defaults:
    public: true
    autowire: true

#  app.graph_ql.resolver.user:
#    class: App\Domain\User\GraphQL\Resolver\UserResolverMap
#    tags:
#      - { name: overblog_graphql.resolver_map, schema: doctrine }
#
#  app.graph_ql.resolver.work:
#    class: App\Domain\Work\GraphQL\Resolver\WorkResolverMap
#    tags:
#      - { name: overblog_graphql.resolver_map, schema: doctrine }
#
#  app.graph_ql.resolver.task:
#    class: App\Domain\Task\GraphQL\Resolver\TaskResolverMap
#    tags:
#      - { name: overblog_graphql.resolver_map, schema: doctrine }
#
#  app.graph_ql.resolver.not_doctrine:
#    class: App\Application\GraphQL\Resolver\NotDoctrineResolverMap
#    tags:
#      - { name: overblog_graphql.resolver_map, schema: not_doctrine }
#
#  app.graph_ql.definition.datetime_type:
#    class: App\Application\GraphQL\Type\DateTimeType
#    tags:
#      - { name: overblog_graphql.type, alias: DateTime }
